<p-accordion [multiple]="true" *ngIf="messages">
    <p-accordionTab *ngFor="let message of messages.entities">
        <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-between w-full">
                <span class="vertical-align-middle">{{message.subject}}</span>
                <span class="vertical-align-middle">{{message.time | date:'short'}}</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="grid">
                <label class="col-fixed titleCol">From:</label>
                <label class="col">{{message.from.email}}</label>
            </div>
            <div class="grid">
                <label class="col-fixed titleCol">To:</label>
                <label class="col">
                    <span *ngFor="let item of message.to; let i = index;">{{item.email}}{{i + 1 < message.to.length ? ', ' : ''}}</span>
                </label>
            </div>
            <div class="grid">
                <label class="col-fixed titleCol">Subject:</label>
                <label class="col">{{message.subject}}</label>
            </div>
            <div class="grid" *ngIf="message.cc && message.cc.length > 0">
                <label class="col-fixed titleCol">Cc:</label>
                <label class="col">
                    <span *ngFor="let item of message.cc; let i = index;">{{item.email}}{{i + 1 < message.cc.length ? ', ' : ''}}</span>
                </label>
            </div>
            <div class="grid" *ngIf="message.bcc && message.bcc.length > 0">
                <label class="col-fixed titleCol">Bcc:</label>
                <label class="col">
                    <span *ngFor="let item of message.bcc; let i = index;">{{item.email}}{{i + 1 < message.bcc.length ? ', ' : ''}}</span>
                </label>
            </div>
            <p>{{message.textBodyPreview}}</p>
        </ng-template>
        
        
        <!-- "id"?: string;
        "name"?: string;
        "to": Array<Models.EmailAddress>;
        "cc"?: Array<Models.EmailAddress>;
        "bcc"?: Array<Models.EmailAddress>;
        "from": Models.EmailAddress;
        "replyTo"?: Models.EmailAddress;
        "subject"?: string;
        "attachments"?: Array<Models.Attachment>;
        "textBodyPreview"?: string;
        "time"?: string;
        "historyIncluded"?: boolean;
        "state"?: string;
        "draftType"?: string;
        "emailSizeBytes"?: number;
        "maxEmailSizeBytes"?: number;
        "selfUri"?: string; -->
    </p-accordionTab>
</p-accordion>
