/* You can add global styles to this file, and also import other style files */

html {
    font-size: 14px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.p-calendar {
    height: 100%;
    .p-datepicker {
        width: auto!important;
        display: flex;
        flex-direction: column;
    
        .p-datepicker-group-container {
            flex: 1;
        } 
    
    }
}

.p-tabview-panels {
    padding: 0;
}

.p-autocomplete .p-autocomplete-multiple-container {
    width: 100%;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem;
}

.customIconBtn {

    .p-button.p-button-icon-only {
        width: 2rem;

        &.p-button-rounded {
            height: 2rem;
        }
    }

}