/* You can add global styles to this file, and also import other style files */

html {
    font-size: 14px;
}

.p-calendar {
    height: 100%;
    .p-datepicker {
        width: auto!important;
        display: flex;
        flex-direction: column;
    
        .p-datepicker-group-container {
            flex: 1;
        } 
    
    }
}
